<?php
return array (
  'backend' => 
  array (
    'frontName' => 'admin',
  ),
  'crypt' => 
  array (
    'key' => '{{ magento_crypt_key }}',
  ),{% if magento_save_session_in_redis %}
  'session' =>
     array (
     'save' => 'redis',
     'redis' =>
        array (
  	'host' => '{{ magento_redis_address }}',
  	'port' => '{{ magento_redis_port }}',
  	'password' => '',
  	'timeout' => '2.5',
  	'persistent_identifier' => '',
  	'database' => '{{ magento_redis_db_session }}',
  	'compression_threshold' => '2048',
  	'compression_library' => '{{ magento_redis_compression_lib }}',
  	'log_level' => '1',
  	'max_concurrency' => '6',
  	'break_after_frontend' => '5',
  	'break_after_adminhtml' => '30',
  	'first_lifetime' => '600',
  	'bot_first_lifetime' => '60',
  	'bot_lifetime' => '7200',
  	'disable_locking' => '0',
  	'min_lifetime' => '60',
  	'max_lifetime' => '2592000'
      )
  ),{% endif %}
  'db' => 
  array (
    'table_prefix' => '',
    'connection' => 
    array (
      'default' => 
      array (
        'host' => '{{ db_host }}',
        'dbname' => '{{ db_name }}',
        'username' => '{{ db_user }}',
        'password' => '{{ db_user_password }}',
        'active' => '1',
      ),
    ),
  ),
  'resource' => 
  array (
    'default_setup' => 
    array (
      'connection' => 'default',
    ),
  ),
  'x-frame-options' => 'SAMEORIGIN',
  'MAGE_MODE' => '{{ magento_mage_mode }}',{% if magento_save_cache_in_redis%}
  'cache' =>
    array (
      'frontend' =>
      array (
        'default' =>
        array (
          'backend' => 'Cm_Cache_Backend_Redis',
          'backend_options' =>
          array (
            'server' => '{{ magento_redis_address }}',
            'port' => '{{ magento_redis_port }}',
            'persistent' => '',
            'database' => '{{ magento_redis_db_cache }}',
            'force_standalone' => '0',
            'connect_retries' => '1',
            'read_timeout' => '10',
            'automatic_cleaning_factor' => '0',
            'compress_tags' => '1',
            'compress_threshold' => '20480',
            'compression_lib' => '{{ magento_redis_compression_lib }}',
          ),
        ),
        'page_cache' =>
        array (
          'backend' => 'Cm_Cache_Backend_Redis',
          'backend_options' =>
          array (
            'server' => '{{ magento_redis_address }}',
            'port' => '{{ magento_redis_port }}',
            'persistent' => '',
            'database' => '{{ magento_redis_db_page_cache }}',
            'force_standalone' => '0',
            'connect_retries' => '1',
            'read_timeout' => '10',
            'automatic_cleaning_factor' => '0',
            'compress_data' => '0',
            'compress_tags' => '1',
            'compress_threshold' => '20480',
            'compression_lib' => '{{ magento_redis_compression_lib }}',
          ),
        ),
      ),
    ),{% endif %}
  'cache_types' =>
  array (
    'config' => 1,
    'layout' => 1,
    'block_html' => 1,
    'collections' => 1,
    'reflection' => 1,
    'db_ddl' => 1,
    'eav' => 1,
    'customer_notification' => 1,
    'full_page' => 1,
    'config_integration' => 1,
    'config_integration_api' => 1,
    'translate' => 1,
    'config_webservice' => 1,
  ),
  'install' => 
  array (
    'date' => '{{ magento_date_install }}',
  ),
);
