<?php /** @var \Cminds\Multiwishlist\Block\Wishlist\Catalog\Product\View\AddTo\Wishlist $block */ $wishlists = $block->getWishlists(); ?> <?php if ($block->isWishListAllowed()) : ?> <a href="#" class="action towishlist" data-post='<?= $block->getWishlistParams() ?>' data-action="add-to-wishlist"><span><?= $block->escapeHtml(__('Add to Wish List')) ?></span></a> <div id="wishlist-popup" style="display:none;"><?php if ($block->isLoggedInCustomer()): ?> <div class="field"><p><label class="label" for="wishlist-select"><?= __('Choose wishlist') ?></label></p><div class="control"><select name="wishlist-select" id="wishlist-select"><?php foreach ($wishlists as $wishlist): ?> <option value="<?= $wishlist->getId() ?>"><?= $wishlist->getTitle() ?></option><?php endforeach; ?></select></div></div><hr/><div class="field"><p><label class="label" for="wishlist-input"><?= __('Or create new') ?></label></p><div class="control"><input type="text" id="wishlist-input" name="wishlist-input" placeholder="<?= __('Title') ?>"/></div></div><?php else: ?> <p><?= __('You need to log in to be able to add product to wishlist.') ?></p><?php endif; ?></div><?php endif; ?> <script type="text/x-magento-init">
    {
        "body": {
            "addToWishlist": <?= $block->getWishlistOptionsJson() ?>
        }
    }</script><script>
    require([
            'jquery',
            'Magento_Ui/js/modal/modal',
            'mage/translate'
        ], function ($, modal) {
            $(function () {
                var wishlistButtonSelector = '.towishlist',
                    wishlistSelector = '#wishlist-select',
                    wishlistInputSelector = '#wishlist-input',
                    dataKey = 'data-direct-event',
                    preventAdding = <?= $block->isLoggedInCustomer() ? 'false' : 'true' ?>,
                    options = {
                        type: 'popup',
                        responsive: true,
                        innerScroll: true,
                        title: $.mage.__('Wishlists'),
                        buttons: [{
                            text: $.mage.__('Continue'),
                            click: function () {
                                if (!preventAdding) {
                                    $.mage.addToWishlist()._updateAddToWishlistButton(
                                        {
                                            wishlist_id: $(wishlistSelector + ' option:selected').attr('value'),
                                            wishlist_title: $(wishlistInputSelector).val()
                                        }
                                    );
                                    $(wishlistButtonSelector).attr(dataKey, '1')
                                        .click();
                                }
                                this.closeModal();
                            }
                        }]
                    },
                    $popupElem = $('#wishlist-popup');
                modal(options, $popupElem);
                $(document).on('click', wishlistButtonSelector, function (e) {
                    if (!$(this).attr(dataKey)) {
                        $popupElem.modal('openModal');
                        e.preventDefault();
                        e.stopImmediatePropagation();
                        return false;
                    }
                });
                $(document).on('input', wishlistInputSelector, function () {
                    var wishlistSelect = $(wishlistSelector);
                    if ($(this).val()) {
                        wishlistSelect.attr('disabled', 'disabled');
                    } else {
                        wishlistSelect.removeAttr('disabled');
                    }
                });
            });
        }
    );</script>